section {
    min-height: 350px;
}

.jumbotron {
    background-color: rgb(189, 69, 69);
    padding: 11em 0em;
    height: 700px;
}

img.rounded-circle {
    border: 4px solid #FFFFFF;
}

hr {
    border: 3px solid maroon;
    width: 200px;
}

h1 span {
    font-size: 4rem;
}

span.last-name {
    color: #FFFFFF;
    font-weight: bold;
}

p.lead {
    font-size: 2em;
}

p strong, em {
    color: #FFFFFF;
}

.about,
.education,
.experience,
.skill,
.contact {
    padding-top: 4em;
}

.footer-background {
    padding-top: 3em;

    background-color: rgb(189,69,69);
    height: 200px;
}

#social-icon {
    color: #FFFFFF;
}

#social-icon :hover {
    color: #000;
}